@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #00bfa6;
}

a {
  text-decoration: none;
}

/**
 * Basic typography style for copy text
 */
.highlight {
  background: transparent;
  background-image: linear-gradient(120deg, #12a4d011 0, #2ac955 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.28em;
  background-position: 0 70%;
  position: relative;
  z-index: 1;
}

.highlight.yellow {
  background-image: linear-gradient(120deg, #12a4d01a 0, #edd83d 100%);
}

.highlight.green {
  background-image: linear-gradient(120deg, #12a4d01a 0, #2ac955 100%);
}

.highlight.violet {
  background-image: linear-gradient(120deg, #12a4d01a 0, #345995ff 40%);
}

.highlight.orange {
  background-image: linear-gradient(120deg, #12a4d01a 0, #fb4d3dff 40%);
}

.highlight.darkPink {
  background-image: linear-gradient(120deg, #12a4d01a 0, #ca1551ff 40%);
}

.highlight.purple {
  background-image: linear-gradient(120deg, #12a4d01a 0, #883aac 40%);
}

.btn {
  cursor: pointer;
  margin: 3rem 0;
  max-width: 20rem;
  padding: 1.6rem 2rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.5rem;
  border: 3px solid rgba(226, 224, 224, 0.933);
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
}
.btn:active {
  box-shadow: inset -3px -3px 7px #cfcfcf73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.37);
}

.themeColor {
  background-color: #00bfa6;
}

.barIcon {
  height: 4rem;
  width: 4rem;
  font-size: 1.6rem;
  background: #ededed;
  border: none;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
  transition: all 0.3s ease-in-out;
}
.barIcon:active {
  box-shadow: inset -3px -3px 7px #cfcfcf73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.37);
}

.icon {
  color: #00bfa6;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.icon:hover {
  font-size: 2rem;
  color: #416d4e;
}

.homeMenuBtn {
  cursor: pointer;
  margin-top: 4rem;
  grid-area: btn1;
  position: fixed;
  left: 8rem;
  min-height: 5rem;
  min-width: 5rem;
  z-index: 1600;
}

.themeMenuBtn {
  cursor: pointer;
  margin-top: 4rem;
  grid-area: btn2;
  position: fixed;
  right: 8rem;
  min-height: 5rem;
  min-width: 5rem;
  z-index: 1600;
}

.sendMailBtn {
  cursor: pointer;
  margin-top: 4rem;
  grid-area: btn2;
  min-height: 5rem;
  min-width: 5rem;
  z-index: 1600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.switch__container span {
  font-size: 1.4rem;
  font-weight: 700;
}
.switch__container-toggle {
  height: 4rem;
}
.switch__container-toggle input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}
.switch__container-toggle input[type='checkbox'] + label {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  margin: 0;
  cursor: pointer;
  box-shadow: inset 8px 8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.switch__container-toggle input[type='checkbox'] + label::before {
  position: absolute;
  content: 'OFF';
  font-size: 1.3rem;
  text-align: center;
  line-height: 2.5rem;
  color: #e50050;
  top: 8px;
  left: 8px;
  width: 4.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: #999999;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.switch__container-toggle input[type='checkbox']:checked + label::before {
  left: 50%;
  content: 'ON';
  color: #fff;
  background-color: #00bfa6;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #00bfa6;
}

.loader {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
@media (max-width: 37.5em) {
  .loader {
    grid-template-columns: repeat(4, 1fr);
  }
}
.loader__dial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  background: #d6d6d6;
  border: 10px solid #e9e8e8;
  border-radius: 50%;
  box-shadow: -3px -3px 7px 0 rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}
.loader__dial::after {
  content: '';
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 45s infinite linear;
  box-shadow: inset -3px -3px 7px #cfcfcf73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(3600deg);
  }
}

.l1::after {
  padding: 5px;
  border: 5px solid #e96228;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.l2::after {
  padding: 5px;
  border: 5px solid #0070ba;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.l3::after {
  padding: 5px;
  border: 5px solid #c55b92;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.l4::after {
  padding: 5px;
  border: 5px solid #533b78;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.l5::after {
  padding: 5px;
  border: 5px solid #d9a223;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.l6::after {
  padding: 5px;
  border: 5px solid #c60001;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.l7::after {
  padding: 5px;
  border: 5px solid #7db800;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.l8::after {
  padding: 5px;
  border: 5px solid #0bebf7;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
}

.fab {
  font-size: 2.5rem;
  color: #00bfa6;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form__image {
  margin-top: 2rem;
  margin-bottom: 4rem;
  height: 13rem;
  width: 13rem;
  background: url('/css/assets/img/Emma.jpg') no-repeat center center/cover;
  border-radius: 50%;
  border: 3px solid rgba(226, 224, 224, 0.933);
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
}
.form__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.form__title-sub {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
.form__field {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 2.5rem;
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 1.8rem;
  color: #00bfa6;
  padding: 2rem 2rem 2rem 1.5rem;
  border-radius: 2.5rem;
  box-shadow: inset -3px -3px 7px #cfcfcf73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.37);
  width: 100%;
}

textarea {
  min-height: 16rem;
  resize: none;
}

::placeholder {
  color: #00bfa6;
}

.sentMessage {
  display: none;
  margin-bottom: 0.6rem;
  background-color: #00bfa6;
  border: 2px solid #e6e3e3;
  border-radius: 8px;
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
}
.sentMessage * {
  padding: 1rem;
  font-size: 1.6rem;
  color: white;
}

.sentMessage.active {
  display: block;
}

.fa-times-circle {
  font-size: 2rem;
}

.navBar {
  grid-area: nav;
  display: grid;
  grid-template-columns: 5% 42.5% 5% 42.5% 5%;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  justify-items: center;
  grid-template-areas: 'btn1 menu1 . menu2 btn2';
}

.homeMenu {
  display: none;
  position: fixed;
  left: 16rem;
  grid-area: menu1;
  justify-self: self-start;
  height: 22rem;
  width: 22rem;
  padding: 2rem;
  background-color: #ededed;
  border-radius: 3rem;
  z-index: 16000;
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
}
.homeMenu ul li {
  list-style: none;
  text-align: center;
}
.homeMenu ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.homeMenu ul li a {
  font-size: 2rem;
  color: #00bfa6;
  transition: all 0.4s ease-in-out;
}
.homeMenu ul li a:hover {
  font-size: 2.4rem;
  color: #073c5f;
}

.themeMenu {
  display: none;
  position: fixed;
  z-index: 16000;
  right: 16rem;
  grid-area: menu2;
  height: 22rem;
  width: 22rem;
  padding: 2rem;
  justify-self: self-end;
  background-color: #ededed;
  border-radius: 3rem;
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
  transition: opacity 0.7s ease-in-out;
}
.themeMenu span {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #00bfa6;
  margin: 2rem auto;
}
.themeMenu-accents-colors {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.themeMenu-accents-colors li {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  border-radius: 0.8rem;
  margin-top: 1.1rem;
  margin-right: 1rem;
  text-indent: -9999px;
}
.themeMenu-accents-colors li:nth-child(1) {
  background: #345995ff;
  color: #345995ff;
  border-radius: 50%;
}
.themeMenu-accents-colors li:nth-child(2) {
  background: #fb4d3dff;
  color: #fb4d3dff;
  border-radius: 50%;
}
.themeMenu-accents-colors li:nth-child(3) {
  background: #ca1551ff;
  color: #ca1551ff;
  border-radius: 50%;
}
.themeMenu-accents-colors li:nth-child(4) {
  background: #883aac;
  color: #883aac;
  border-radius: 50%;
}
.themeMenu-accents-colors li:nth-child(5) {
  background: #edd83d;
  color: #edd83d;
  border-radius: 50%;
}

.homeMenu.active {
  display: inline;
  z-index: 1000;
}

.themeMenu.active {
  display: inline;
  z-index: 1000;
}

.fa-cog {
  animation: cog-spin infinite 5s linear;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: cog-spin;
  transform-origin: center;
}

@keyframes cog-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 56.25em) {
  .homeMenuBtn {
    position: fixed;
    top: 3rem;
    left: 4rem;
    z-index: 1600;
  }
  .themeMenuBtn {
    position: fixed;
    top: 3rem;
    right: 4rem;
    z-index: 1600;
  }
  .homeMenu.active {
    height: auto;
    width: auto;
    padding: 4rem;
    background-color: #ededed;
    z-index: 1600;
    position: fixed;
    top: 6rem;
    box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
  }
}
@media screen and (max-width: 56.25em) and (max-width: 667px) {
  .homeMenu.active {
    left: 40%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 558px) {
  .homeMenu.active {
    left: 36%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 518px) {
  .homeMenu.active {
    left: 34%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 400px) {
  .homeMenu.active {
    left: 37%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 360px) {
  .homeMenu.active {
    left: 35%;
  }
}

@media (max-width: 56.25em) {
  .homeMenu.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .homeMenu.active ul li:not(:last-child) {
    margin-bottom: 2rem;
  }
  .homeMenu.active ul li:not(:last-child) a {
    font-size: 2rem;
    transition: all 0.4s ease-in-out;
  }
  .homeMenu.active ul li:not(:last-child) a:hover {
    font-size: 2.4rem;
    color: #073c5f;
  }
  .themeMenu.active {
    height: auto;
    width: auto;
    background-color: #ededed;
    padding: 3rem;
    border-radius: 3rem;
    position: fixed;
    top: 6rem;
    z-index: 1200;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 736px) {
  .themeMenu.active {
    top: 6rem;
    right: 14%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 667px) {
  .themeMenu.active {
    top: 6rem;
    right: 12%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 558px) {
  .themeMenu.active {
    top: 6rem;
    right: 38%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 482px) {
  .themeMenu.active {
    top: 6rem;
    right: 34%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 414px) {
  .themeMenu.active {
    top: 6rem;
    right: 32%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 400px) {
  .themeMenu.active {
    top: 6rem;
    right: 38%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 375px) {
  .themeMenu.active {
    top: 6rem;
    right: 35%;
  }
}
@media screen and (max-width: 56.25em) and (max-width: 360px) {
  .themeMenu.active {
    top: 6rem;
    right: 34%;
  }
}

@media (max-width: 56.25em) {
  .themeMenu.active span {
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 400;
  }
}

.homeMenu.dark.active,
.themeMenu.dark.active {
  background: #202933;
}

.card {
  width: 96%;
  margin: 2rem auto;
  padding: 3rem;
  border-radius: 4rem;
  background-color: #ededed;
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr 0.8fr;
  grid-gap: 1rem;
  grid-template-areas: 'nav nav nav nav' 'img img content content' 'img img content content' 'img img content content';
}
@media (max-width: 56.25em) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.gridSecondary {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
  justify-items: center;
  grid-template-areas: 'content   content  img   img  ' '     .        .     .    .    ' '     .        .     .    .    ' '     .        .     .    .   ';
}
@media (max-width: 56.25em) {
  .gridSecondary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.gridSecondaryReverse {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr 0.8fr;
  grid-gap: 1rem;
  justify-content: center;
  justify-items: center;
  grid-template-areas: '.    .     .    . ' 'content content img img ' 'content content img img ' 'content content img img ';
}
@media (max-width: 56.25em) {
  .gridSecondaryReverse {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.footer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
}

.love {
  width: 1rem;
}

.content__visual {
  grid-area: img;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content__visual svg {
  height: 80%;
  width: 100%;
  box-shadow: -3px -3px 7px #cfcfcf73, 3px 3px 5px rgba(94, 104, 121, 0.377);
  padding: 2rem;
  border-radius: 4rem;
}
@media (max-width: 56.25em) {
  .content__visual svg {
    height: 24rem;
    width: 24rem;
    padding: 0rem;
    border: 3px solid white;
    border-radius: 80%;
  }
}

.content__text {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.content__text-title {
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
  align-self: center;
}
.content__text-subtitle {
  margin-top: 4rem;
  font-size: 3rem;
  text-align: center;
  align-self: center;
}

.hero-btn.btn a {
  font-size: 2rem;
  color: white;
}

@media screen and (max-width: 400px) {
  .contentHome {
    margin-top: -20rem;
  }
}

.homeBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__text-title h3 {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.content__text-subtitle {
  text-align: justify;
}

.content__visual {
  margin-left: 2rem;
}

.about__me-skills-title {
  font-size: 3rem;
  text-align: center;
  margin: 2.6rem 0;
}

@media (max-width: 56.25em) {
  .gridReverse {
    margin-top: 10rem;
  }
}

.ptf__item-content {
  padding: 1rem;
  border: 4px solid white;
  border-radius: 2rem;
}
.ptf__item-content img {
  width: 100%;
}




.ptf__item-bar {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.ptf__item-bar span {
  font-size: 1.6rem;
  font-weight: 600;
}
.ptf__item-bar > a {
  color: #00bfa6;
  transition: all 0.3s ease-in-out;
}
.ptf__item-bar > a:hover {
  padding-bottom: 0.5rem;
  border-bottom: 4px solid orangered;
}

.ptf__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.dark {
  background: #202933;
}

.whiteText {
  color: #e4dcdc;
}



.ptfSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}



.portfolioIntro{
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  width: 100%;
}

@media (max-width: 56.25em) {
  .portfolioIntro{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.ptf-content-visual{
  width: 30rem;
}




.ptf-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;

}
.ptf-heading h2{
  display: inline-block;
  font-size: 4rem;
}

.ptfGrid {
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-auto-flow: dense;
}

@media (max-width: 56.25em) {
  .ptfGrid {
    margin-top: 4rem;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}
